.live_update_images {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: fit-content;
	/* width: max-content; */
	/* width: 100%; */
	/* width: fit-content; */
}
.live_update_images_vertical {
	display: flex;
	flex-direction: column;
	/* justify-content: flex-start; */
	align-items: center;
	height: fit-content;
}
